<!DOCTYPE html>
<html>
<head>
    <title>Server Updation</title>
                <!-- ############# browser tab icon ############  -->

    <link rel="shortcut icon" href="https://i.etsystatic.com/21473994/r/il/326aba/2912634679/il_794xN.2912634679_l5ch.jpg" type="image/x-icon" />
    <!-- <link rel="shortcut icon" href="/home/bipz/routing_updation/images/logo1.png" type="image/x-icon" /> -->
    <script type = "text/JavaScript">
	    <!--    
                  <!-- ############# Auto Refresh Browser  ############  -->
            function AutoRefresh( t ) {
               setTimeout("location.reload(true);", t);
            }
         //   -->
</script>  
</head>
<body onload = "JavaScript:AutoRefresh(30000);">

</script>
       
		<!-- ############## web  ##############  -->

        <div style="text-align: center;">
		<body style="background-color:#e8fcfa;"> 
		<img src="{{ static_url("images/Flyingfoxsmall.gif") }}" alt="cloud" width="300" height="300"/> 
                <br/>
		<font size="5"> 
		<h2 style="color:#164375;">Server's update is in-progress. We will be back on-line within a few minutes 
                <img src="{{ static_url("images/loader2.gif") }}" alt="loading" width="300" height="160"> 
		</h2> 
		</font>
       <footer>
		<p>Contact information: <a href="https://mail.google.com"> support@bipinpabraham.com</a>.</p>
		<p>Website: <a href="https://www.bipinpabraham.com/">bipinpabraham.com</a>.</p>
                
       </footer>


       <!-- ############# image add bottem right ############  -->
</div>
       <style>
               .container {
                position: relative;
                }  

               .bottomright {
                position: absolute;
                bottom: 8px;
                right: 16px;
                font-size: 18px;
		opacity: 0.4;
                }
      </style>
      <div class="bottomright">
      <img src="{{ static_url("images/powered.png") }}" alt="botimage" width="150" height="12"> <font size="3"> <h3 style="color:#1D68BB;"> abcd.com  </h3> 
      </div>
 <!-- #############time code start############  -->

<button onclick="myFunction()">Time</button>
<p id="demo"></p>
<script>
function myFunction() {
  var d = new Date();
  var n = d.toUTCString();
  document.getElementById("demo").innerHTML = n;
}
</script>
               <!-- ############## time code end ##############  -->

</body>
</html>

<!-- #33B8FF -->
